@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f2eeed;
  --bgSoft: #eae1dd;
  --text: rgb(31, 29, 29);
  --textSoft: rgb(80, 78, 78);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
